<div class="container-fluid">
    <div class="row" id="row">

        <div class="headerleft  col-md-12 col-lg-8 ">
            <a href=''> <img src="./assets/tcc-logo.png" id="header_logo" class="header_logo" /> </a>
            <div class="headername">TCC</div>
        </div>
        <div class="header d-none d-lg-block col-lg-2" id="header">


        </div>
        <div class="headerright d-none d-lg-block col-lg-2">
            <a href="/jobregistration">
                <button class="JB headerbutton" _ngcontent-c1="" ng-class="ab">Enquiry</button></a>
            <a href="/login"><button class="login headerbutton">login</button></a>
        </div>
    </div>
</div>