
.container-fluid {
    margin: 0;
    box-shadow: 0px 5px 10px -3px #888888;
}

.headerright,
.headerleft {
    background-color: #163A9A;
 
}

.header {
     flex: 1;
     /* background: linear-gradient(to right, #fc4a1a, #f7b733) !important; */
    overflow: hidden;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

.header_logo {
    border-radius: 55px;
    float: left;
    box-shadow: 0px 10px 50px -3px rgb(0, 0, 0);
}

.headername {
    margin-left: 70px;
    float: left;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 70px;
}

.headerbutton {
    background-color: transparent;
    border-color: #FFFFFF;
    border-radius: 5px;
    border-width: 1px;
    color: #FFFFFF;
    margin: 5px;
    width: 90%;
}

.login:hover {
    background-color: #FFFFFF;
    color: #163A9A;
    border-color: #163A9A;
}

.JB:hover {
    background-color: #FFFFFF;
    color: #163A9A;
    border-color: #163A9A;
}


.header-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #163A9A;
    height:90px;
    width: 100%;
}