<div class="container-fluid">
    <div class="row">
        <div class="footer d-none d-lg-block d-md-block col-lg-12">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-md-12 col-sm-12 footermain">
                    <div> G-3,Shenoy Towers,Shamalal Area,Begumpet Hyderabad -500016</div>
                    <div>Contact Us on: 9346099945/9989497851 -- marketing@tccpltd.com/thota@tccpltd.com</div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="footer footermain d-md-none col-md-12">
            <div>Contact Us on: 9346099945/9989497851 -- marketing@tccpltd.com/thota@tccpltd.com</div>
        </div>
    </div>
</div>