<div class="container-fluid">
        <div class="header-bar">
                <div class="header-bar-buttons inactive-buttons " ></div>
                <div class="header-bar-buttons active-buttons" *ngIf="production">Home</div>
                <div class="header-bar-buttons active-buttons"*ngIf="production">Products</div>
                <div class="header-bar-buttons active-buttons" *ngIf="production">Management</div>
                <div class="header-bar-buttons active-buttons" *ngIf="production">Credibility</div>
                <div class="header-bar-buttons inactive-buttons"></div>
        </div>
</div>