<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 header-bar">
            <div class="row">
                <div class="col-md-2 d-none d-lg-block header-bar-buttons inactive-buttons "></div>
                <div class="col-md-2  header-bar-buttons active-buttons">Home</div>
                <div class="col-md-2  header-bar-buttons active-buttons">Products</div>
                <div class="col-md-2  header-bar-buttons active-buttons">Management</div>
                <div class="col-md-2  header-bar-buttons active-buttons">Credibility</div>
                <div class="col-md-2 d-none d-lg-block header-bar-buttons inactive-buttons"></div>
            </div>

        </div>
    </div>
</div>