<div class="products">
    <h1>Products</h1>
            <div class="img-div ">
                <img class="img " src="./assets/powertransformer.jpg" />
                <div class="lab">Power Transformers</div>
            </div>
            <div class="img-div ">
                <img class="img " src="./assets/auxilarytransformer.jpg" />
                <div class="lab">Auxilary/Station Transformers</div>
            </div>
            <div class="img-div ">
                <img class="img " src="./assets/invertertransformer.jpg" />
                <div class="lab">Inverter Transformers</div>
            </div>
            <div class="img-div ">
                <img class="img " src="./assets/Distributiontransformer.jpg" />
                <div class="lab">Distribution Transformers</div>
            </div>
            <div class="img-div ">
                <img class="img " src="./assets/drytypetransformers.jpg" />
                <div class="lab">Dry Type Transformers</div>
            </div>
            <div class="img-div ">
                <img class="img " src="./assets/specialtransformer.jpg" />
                <div class="lab">Special Transformers</div>
    </div>
</div>s