<app-header></app-header>
<app-header-bar></app-header-bar>
<div class="container-fluid pad-0">
    <div class="home" id="home">
        <div class="container-fluid info-tab">
            <div class="row info-tab">
                <div class="info" id="info">
                </div>
                <app-india-map [height]='1600'  [width]='1100'></app-india-map>
            </div>
        </div>
    </div>
    <div class="about-us-div" id="aboutus">
        <div class="about-us-text">
            <h2>About Us</h2>
            <h3>TCC started its modern plant developing the latest state-of-the- art  technology, processes and Equipment's in 8 acres  of  industrial land in Hyderabad with world class technologies from LABEVO GERMENY , PROFACE USA ,YOKOGAWA JAPAN in 2009.
                </h3>
                <h3>  TCC introduced HMI- IED PROFACE Technology with GERMAN TECH VACUUM AUTO CLAVE  to Produce Energy Efficient , High Performing and Durable Transformers.</h3>

        </div>
    </div>
    <div class="map"></div>
</div>
<!-- <app-login></app-login> -->
<app-footer></app-footer>