<app-header></app-header>
<app-header-bar></app-header-bar>
<div class="container-fluid pad-0">
    <div class="home" id="home">
        <div class="container-fluid info-tab">
            <div class="row info-tab">
                <div class="info" id="info">
                </div>
                
            </div>
        </div>
    </div>
    <div class="about-us-div" id="aboutus">
        <div class="about-us-text">
            <h2>About Us</h2>
            <h3>Coming soon...</h3>
        </div>
    </div>
</div>

<app-footer></app-footer>