<app-header></app-header>
<app-header-bar></app-header-bar>
<div class="container-fluid pad-0">
    <div class="home" id="home">
        <div class="container-fluid info-tab">
            <div class="row info-tab">
                <div class="col-md-12 info" id="info">
                </div>
                <div class="col-md-12 products">
                    <h1>Products</h1>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6  col-sm-6 col-md-4 img-div ">
                                <img class="img " src="./assets/powertransformer.jpg" />
                                <div class="lab">Power Transformers</div>
                            </div>
                            <div class="col-xs-6  col-sm-6 col-md-4 img-div ">
                                <img class="img " src="./assets/auxilarytransformer.jpg" />
                                <div class="lab">Auxilary/Station Transformers</div>
                            </div>
                            <div class="col-xs-6  col-sm-6 col-md-4 img-div ">
                                <img class="img " src="./assets/invertertransformer.jpg" />
                                <div class="lab">Inverter Transformers</div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 img-div ">
                                <img class="img " src="./assets/Distributiontransformer.jpg" />
                                <div class="lab">Distribution Transformers</div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 img-div ">
                                <img class="img " src="./assets/drytypetransformers.jpg" />
                                <div class="lab">Dry Type Transformers</div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-4 img-div ">
                                <img class="img " src="./assets/specialtransformer.jpg" />
                                <div class="lab">Special Transformers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-div" id="aboutus">
        <div class="about-us-text">
            <h2>About Us</h2>
            <h3>Coming soon...</h3>
        </div>
    </div>
</div>

<app-footer></app-footer>