
.home {
    margin:0;
    margin-bottom: 3%;
    position: relative;
    top: -40px;
    height: 170vh;
}


.about-usi {
    overflow-wrap: break-word;
    padding: 2%;
    text-align: center;
}



.info-tab {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.info {
    background-image: url("/./assets/tccbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    Width: 100%;
    height: 50%;
    padding: 0;
}

.pad-0 {
    padding: 0;
}

.about-us-div {
    position: absolute;
    top: 500px;
    right: 0;
    color: #163A9A;
    width: 50%;
    text-align: left !important;
    transition: color 5s;
}